/*external styling*/
p {
	color: yellow;
}
/*universal selector*/
/**/
* {
	font-family: 'Verdana', sans-serif;
	font-size: 20px;
}

/*type selector*/
h1 {
	font-size: 50px;
}

/*id selector*/
#header-one {
	text-transform: uppercase;
}

/*class selector*/
.languages {
	background-color: lightgreen;
}

/*attribute selector*/
li[id] {
	border-style: solid;
	border-width: 2px;
}

/*adjacent sibling selector*/
img + ul {
	letter-spacing: 8px;
	list-style-type: none;
}


/*descendant selector*/

#image-js img {
		width: 100px;
		height: 100px;
		border-radius: 50px;
	}

/*child selector*/
section > ul {
	letter-spacing: 10px;
	list-style-type: none;
}

ul ~ p {
	text-align: center;
	color: black;
